AWS_REGION=us-east-1
AWS_PROFILE=media-manager-dev
APP_STAGE=prod
COGNITO_DOMAIN=
COGNITO_CLIENT_ID=
COGNITO_REGION=us-west-2
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
API_BASE_URL=
API_BASE_URL_PROD=
BUDGET_ALERT_EMAIL=
MONTHLY_BUDGET_USD=25
NEXT_PUBLIC_ENABLE_AUTH_GUARD=false
